@{
    ViewBag.Title = "Personal Website";
}


<h1>Hello World!</h1>

<p>Welcome to my personal website! My name is <b>Kevin Li</b> and I'm a student at the University of Waterloo working towards a <b>Bachelor of Computer Science</b></p>

