@{
    ViewBag.Title = "Personal Website";
}


<h1>Hello World!</h1>

<p>Welcome to my personal website! My name is <b>Kevin Li</b> and I'm a student at the <b>University of Waterloo</b> working towards a <b>Bachelor of Computer Science</b>.</p>

<p>
    This site is a primarily for hosting my blog, where I talk about programming, video games, music, or anything else that I feel like talking about!
    It will also act as a hub for my projects that I've created in the past or will create in the future.
</p>

<p>
    I have very few aliases online. If you ever see a <i>cleanurpants/kleanurpants</i> somewhere online, chances are it's probably me!
    If you catch me on Discord, my server nicknames are typically set to <i>bees</i>. You can message me @@cleanurpants#1288 if you're ever interested in speaking with me!
</p>

<p>
    Here are a few links to some of my active socials:
</p>

<div class="row">
    <div class="col-md-4">
        <a href="https://www.youtube.com/user/cleanurpants/videos"><h3><b>YouTube</b></h3></a>
        <p>
            My YouTube channel mostly consists of music that I've charted for Clone Hero, though it also contains a couple of small edits. I don't upload often, but I do upload!
        </p>
    </div>
    <div class="col-md-4">
        <a href="https://www.instagram.com/kleanurpants/"><h3><b>Instagram</b></h3></a>
        <p>
            So far my Instagram only consists of a few vacation pics, but I've been thinking of posting some piano clips in the future. Come drop a follow!
        </p>
    </div>
    <div class="col-md-4">
        <a href="https://steamcommunity.com/id/cleanurpants"><h3><b>Steam</b></h3></a>
        <p>
            My Steam account that has siphoned hundreds of dollars from my wallet and consumed thousands of hours of my life. Take a look if we have any shared interest in games!
        </p>
    </div>
</div>